@font-face {
  font-family: lotr;
  src: url(./images/RINGM___.TTF);
}

@font-face {
  font-family: lotr2;
  src: url(./images/anirm___.ttf);
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(238, 222, 0);
  font-family: lotr;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.header--title {
  font-size: 60px;
}

.header--container {
  display: flex;
  gap: 15px;
}

.header--score, .header--highScore {
  font-size: calc(10px + 2vmin);
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.card--container {
  height: 200px;
  width: 200px;
  background-color: #282c34;
  color: white;
  font-family: lotr2;
  border-radius: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
}


.card--container:hover {
  background: url(./images/sauron2.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
}

.card--container img {
  height: 140px;
  width: 140px;
  margin-top: 10px;
  cursor:pointer;
  border-radius: 100px;
}
